*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-image: linear-gradient(to left top, rgb(178, 83, 83), rgb(74, 74, 191))
}
/* NAV BAR - START*/
.navbar{
    display: flex;
    height: 30px;
    width: 100%;
    position: fixed;
    background-color: whitesmoke;
    top: 0;
    left: 0;
    z-index: 1000;
}
.nav-button {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
    width: 100px;
    flex-shrink: 0;
    padding: 5px 5px 5px 5px;
    border-top: 2px solid black;
    border-left: 20px solid black;
    border-bottom: 2px solid black;
    font-family: monospace;
}
.nav-button:hover{
    background-color: black; /* Change background color on hover */
    border-top: none;
    border-left-color: darkred; /* Change border color on hover */
    border-bottom: none;
    color: whitesmoke;
}
.nav-filler{
    flex-grow: 1;
    flex-shrink: 1;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.nav-search{
    padding-right: 30px;
    gap: 10px;
    display: flex;
    align-items: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
/* NAV BAR - END*/

/* PAGE CONTENT - START*/
.page-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post{
    margin-top: 50px;
    background-color: rgb(232, 232, 232);
    display: flex;
    flex-direction: column;
    width: 55vw;
    border:20px solid darkgrey;
    padding: 20px;
    box-sizing: border-box;
}
.post h2{
    font-variant: small-caps;
    margin-bottom: 20px;
}
.post .quote{
    border-left: solid grey 4px;
    padding-left: 10px;
}
.post a {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
.post img{
    width: inherit;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: transform 2s;
}
.post img:hover{
    transform: scale(1.052);
    transition-duration: 2s;
}

.post .date {
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
    animation: dateSlider 10s infinite;
    animation-delay: dateSlider 3s;
}
.post .date::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: grey;
    position: absolute;
    bottom: -2px; /* Position the border at the bottom */
    left: 0;
    animation: dateBorderShrinker 10s infinite;
    animation-delay: 3s;
}
@keyframes dateSlider {
    0% {
        opacity: 1;
        transform: translateX(0%);
    }
    50% {
        opacity: 0;
        transform: translateX(30%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes dateBorderShrinker {
    0% {
        opacity: 1;
        width: 100%;
    }
    50% {
        opacity: 1;
        width: 30%;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}

/* PAGE CONTENT - START*/